<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

<f:layout name="Default"/>

<f:section name="headline">
    <h1><f:translate key="storage_framework_manager">Storage framework manager</f:translate></h1>
</f:section>

<f:section name="content">
    <div class="card-container">
        <div class="card card-size-fixed-small">
            <f:render partial="Card/Header" arguments="{ title: 'Session storage framework', subtitle: 'sessions', icon: 'Icons/tx-storage-framework-manager-session.svg'}" />
            <div class="card-content">
                <p class="card-text">TYPO3 comes with the option to choose between different storages for both frontend end backend user sessions (called session backends).</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-default" data-require="TYPO3/CMS/StorageFrameworkManager/Session">
                    <f:translate key="check_configuration">Check configuration</f:translate>
                </a>
            </div>
        </div>

        <div class="card card-size-fixed-small">
            <f:render partial="Card/Header" arguments="{ title: 'Caching framework', subtitle: 'caching', icon: 'Icons/tx-storage-framework-manager-core.svg'}" />
            <div class="card-content">
                <p class="card-text">The caching framework exists to help speeding up TYPO3 sites, especially heavily loaded ones. It is possible to move all caches to a dedicated cache server with specialized cache systems like the Redis key-value store (a so called NoSQL database).</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-default" data-require="TYPO3/CMS/StorageFrameworkManager/Caching">
                    <f:translate key="check_configuration">Check configuration</f:translate>
                </a>
            </div>
        </div>
    </div>

    <f:be.infobox title="Official documentation" message="About <a href='https://docs.typo3.org/typo3cms/CoreApiReference/stable/ApiOverview/SessionStorageFramework/Index.html'>TYPO3 Session Storage Framework</a><br/>About <a href='https://docs.typo3.org/typo3cms/CoreApiReference/stable/ApiOverview/CachingFramework/Index.html'>TYPO3 Caching Framework</a>" state="-1"/>

</f:section>
</html>
