<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

<f:layout name="Default"/>

<f:section name="headline">
    <h1></h1>
</f:section>

<f:section name="content">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda consequatur cumque deleniti ducimus eum illum, in iste iusto laborum laudantium minus obcaecati qui repellendus sapiente voluptate voluptatum. Ab adipisci alias, debitis earum ex illo ipsam necessitatibus nostrum quam quod, soluta vero, voluptatem. Consectetur dolores eaque error fugit minima mollitia odio sint sit tempore veritatis. Debitis hic qui sequi soluta veritatis. Amet aperiam assumenda doloremque, facere incidunt, iusto laboriosam modi necessitatibus obcaecati perspiciatis quasi quos suscipit ut? Alias dolor ex facere obcaecati quod sunt veniam veritatis voluptas. Aut doloremque iusto necessitatibus neque nihil non perferendis ratione tempora? Dolor quas, quia.
</f:section>
</html>
